body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.mainScreen{
  position: relative;
  height: 100vh;
}

.infoSide{
  position: absolute;
  top: 17vh;
  left: 3vw;
  height: 130px;
  width: 350px;
  background-color: rgba(255,255,255,.6);
  backdrop-filter: blur(5px);
  z-index: 1111;
  border-radius: 4px;
}

.infoSide input{
  background-color: rgba(255,255,255,.6);
  border: 1px solid rgba(0,0,0,.3);
  border-radius: 3px;
  margin: 10px auto 0;
  padding: 0 3px;
  display: block;
  height: 23px;
  width: 250px;
}

.inputLable, .placesLable{
  text-align: center;
  margin-top: 10px;
}

.inputLable h5{
  margin-bottom: 10px;
}

.inputItemMenu{
  margin: 0 8px;
  font-size: 13px;
}

.placesLable{
  font-size: 13px;
  font-weight: 700;
}




